.App {
max-width: 800px;
width:90%;
background-color:#FFDDE8;
margin: 0 auto
}

.app-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-header h1{
  text-align: center;
  background-color: #FC709B;
  color:white;
}

.app-footer{
  text-align: center;
  margin: 2em 0;
  background-color: #FC709B;
}

