
.phonetic{
    margin:1.5em 0;
}

.phonetic a{
border:1px solid #ddd;
text-decoration: none;
padding:0.5em 1em;
border-radius: 1.5em;
margin-right:0.5em;
transition: all 150ms ease-in-out;
font-weight: bold;
font-size: 0.85rem;
color:#9670f4
}
.phonetic a:hover{
    background-color: #9670f4;
    color:white;
}

.phonetic .text{
    opacity: 0.5;
    font-weight: bold;
}